In [1]:
import numpy as np, pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
cd drive

/content/drive

In [7]:
cd My Drive

/content/drive/My Drive

In [138]:
%ls pyghack_data/

champaign_data.py         land_area.csv            us-counties_covid19.csv
Champaign_zipcode.gsheet  mask-use-by-county.csv   us-counties_coviddeaths.csv
Education.csv             PopulationEstimates.csv  us_pop_data.csv
il.1990_2018.19ages.txt   PovertyEstimates.csv
illinois_population.csv   Unemployment.csv

In [27]:
df_unem = pd.read_csv('pyghack_data/Unemployment.csv')
df_unem = df_unem[['FIPStxt','Unemployment_rate_2019','Median_Household_Income_2018']]

In [33]:
df_poverty = pd.read_csv('/content/drive/My Drive/pyghack_data/PovertyEstimates.csv')
df_poverty = df_poverty[['FIPStxt','PCTPOVALL_2018']]

In [53]:
df_edu = pd.read_csv('/content/drive/My Drive/pyghack_data/Education.csv')

In [54]:
df_edu.rename(columns = {'FIPS Code':'FIPStxt'}, inplace = True)

In [65]:
df_land = pd.read_csv('/content/drive/My Drive/pyghack_data/land_area.csv')

In [71]:
df_tpop = pd.read_csv('/content/drive/My Drive/pyghack_data/PopulationEstimates.csv')

In [113]:
df_features1 = df_unem
df_features1 = pd.merge(df_features1,df_poverty,how='inner', on ='FIPStxt')
df_features1 = pd.merge(df_features1,df_edu,how='inner', on ='FIPStxt')
df_features1 = pd.merge(df_features1,df_land,how='inner', on ='FIPStxt')
df_features1 = pd.merge(df_features1,df_tpop,how='inner', on ='FIPStxt')
df_features1.pop('Unnamed: 2')
df_features1.rename(columns = {'FIPStxt':'fips','Unemployment_rate_2019':'Unemployment_rate','Median_Household_Income_2018':'Median_Household_Income','PCTPOVALL_2018':'poverty_rate','POP_ESTIMATE_2019':'total_pop'}, inplace = True)
df_features1['Median_Household_Income']=df_features1['Median_Household_Income'].apply(lambda x: ''.join(c for c in x if c.isnumeric()))
df_features1['total_pop']=df_features1['total_pop'].apply(lambda x: ''.join(c for c in x if c.isnumeric()))
df_features1 = df_features1.astype({'fips':int, 'Unemployment_rate':float, 'Median_Household_Income':float,
       'poverty_rate':float, 'no_edu':float, 'high_school':float, 'college_drop':float, 'college':float, 'land_area':float, 'total_pop':float})
df_features1['pop_density'] = df_features1['total_pop']/df_features1['land_area']

In [114]:
df_features1

       fips  Unemployment_rate  ...    total_pop  pop_density
0         0                3.7  ...  328239523.0    92.935536
1      1000                3.0  ...    4903185.0    96.814158
2      1001                2.7  ...      55869.0    93.985936
3      1003                2.7  ...     223234.0   140.418171
4      1005                3.8  ...      24686.0    27.897568
...     ...                ...  ...          ...          ...
3186  56037                3.9  ...      42343.0     4.061036
3187  56039                2.7  ...      23464.0     5.872783
3188  56041                3.9  ...      20226.0     9.718152
3189  56043                3.9  ...       7805.0     3.486632
3190  56045                2.9  ...       6927.0     2.888549

[3191 rows x 11 columns]

In [133]:
maskdf = pd.read_csv('/content/drive/My Drive/pyghack_data/mask-use-by-county.csv')
maskdf = maskdf.rename(columns={"COUNTYFP": "fips"})
maskdf['fips'] = maskdf['fips'].astype(int)
cdeath_df = pd.read_csv('/content/drive/My Drive/pyghack_data/us-counties_coviddeaths.csv')
coviddf = cdeath_df.merge(maskdf, on=['fips'],how='inner')
coviddf['fips'] = coviddf['fips'].astype(int)
coviddf = coviddf.drop(columns=['date'])
coviddf.pop('county')
coviddf.pop('state')
coviddf['no_mask']=coviddf['NEVER']+coviddf['RARELY']

In [134]:
df_features2 = pd.merge(df_features1,coviddf,how='inner', on ='fips')

In [136]:
df_features2['death_rate'] = df_features2['deaths']/df_features2['total_pop']

In [137]:
df_features2

       fips  Unemployment_rate  ...  no_mask  death_rate
0      1001                2.7  ...    0.127    0.000447
1      1003                2.7  ...    0.142    0.000224
2      1005                3.8  ...    0.188    0.000284
3      1007                3.1  ...    0.054    0.000447
4      1009                2.7  ...    0.167    0.000259
...     ...                ...  ...      ...         ...
3119  56037                3.9  ...    0.356    0.000047
3120  56039                2.7  ...    0.252    0.000043
3121  56041                3.9  ...    0.376    0.000099
3122  56043                3.9  ...    0.359    0.000769
3123  56045                2.9  ...    0.271    0.000000

[3124 rows x 24 columns]

In [151]:
df_hr_uspop = pd.read_csv('/content/drive/My Drive/pyghack_data/us_pop_data.csv')
df_hr_uspop.pop('non-hispanic')
df_hr_uspop.pop('population')
df_hr_uspop.rename(columns = {'county':'fips','asian / pacific islander':'asian','amerian indian/alaska native':'native','PCTPOVALL_2018':'poverty_rate','POP_ESTIMATE_2019':'total_pop'}, inplace = True)
df_hr_uspop.keys()
df_feat = pd.merge(df_features2,df_hr_uspop,how='inner', on ='fips')

In [153]:
df_feat.keys()

Index(['fips', 'Unemployment_rate', 'Median_Household_Income', 'poverty_rate',
       'no_edu', 'high_school', 'college_drop', 'college', 'land_area',
       'total_pop', 'pop_density', 'cases', 'deaths', 'confirmed_cases',
       'confirmed_deaths', 'probable_cases', 'probable_deaths', 'NEVER',
       'RARELY', 'SOMETIMES', 'FREQUENTLY', 'ALWAYS', 'no_mask', 'death_rate',
       'black', 'white', 'asian', 'native', 'hispanic', '0', '0-4', '12-16',
       '16-20', '20-24', '24-28', '28-32', '32-36', '36-40', '4-8', '40-44',
       '44-48', '48-52', '52-56', '56-60', '60-64', '64-68', '68-72', '8-12',
       'Female', 'Male'],
      dtype='object')

In [156]:
df_train=df_feat[['Unemployment_rate', 'Median_Household_Income', 'poverty_rate',
       'no_edu', 'high_school', 'college_drop', 'college', 'land_area',
       'total_pop', 'pop_density','black', 'white', 'asian', 'native', 'hispanic', '0', '0-4', '12-16',
       '16-20', '20-24', '24-28', '28-32', '32-36', '36-40', '4-8', '40-44',
       '44-48', '48-52', '52-56', '56-60', '60-64', '64-68', '68-72', '8-12',
       'Female', 'Male']]

In [157]:
df_train

      Unemployment_rate  Median_Household_Income  ...    Female      Male
0                   2.7                  59338.0  ...  0.514487  0.485513
1                   2.7                  57588.0  ...  0.515384  0.484616
2                   3.8                  34382.0  ...  0.472168  0.527832
3                   3.1                  46064.0  ...  0.467813  0.532188
4                   2.7                  50412.0  ...  0.507261  0.492739
...                 ...                      ...  ...       ...       ...
3118                3.9                  73315.0  ...  0.485447  0.514553
3119                2.7                  99087.0  ...  0.484034  0.515966
3120                3.9                  63401.0  ...  0.493325  0.506675
3121                3.9                  55190.0  ...  0.494230  0.505770
3122                2.9                  54319.0  ...  0.470504  0.529496

[3123 rows x 36 columns]