<a href="https://colab.research.google.com/github/gabhijith/pyghack_covid19/blob/master/test_sree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [56]:
maskdf = pd.read_csv('/content/drive/My Drive/pyghack_data/mask-use-by-county.csv')

In [57]:
maskdf = maskdf.rename(columns={"COUNTYFP": "fips"})
maskdf['fips'] = maskdf['fips'].astype(float)

In [58]:
maskdf.head()

     fips  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0  1001.0  0.053   0.074      0.134       0.295   0.444
1  1003.0  0.083   0.059      0.098       0.323   0.436
2  1005.0  0.067   0.121      0.120       0.201   0.491
3  1007.0  0.020   0.034      0.096       0.278   0.572
4  1009.0  0.053   0.114      0.180       0.194   0.459

In [60]:
cdeath_df = pd.read_csv('/content/drive/My Drive/pyghack_data/us-counties_coviddeaths.csv')

In [61]:
cdeath_df.head()

         date   county  ... probable_cases  probable_deaths
0  2020-09-24  Autauga  ...          173.0              1.0
1  2020-09-24  Baldwin  ...          186.0              4.0
2  2020-09-24  Barbour  ...          200.0              0.0
3  2020-09-24     Bibb  ...           31.0              4.0
4  2020-09-24   Blount  ...          358.0              0.0

[5 rows x 10 columns]

In [72]:
coviddf = cdeath_df.merge(maskdf, on=['fips'],how='left')

In [73]:
coviddf = coviddf.drop(columns=['date'])

In [74]:
coviddf.head()

    county    state    fips  cases  ...  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0  Autauga  Alabama  1001.0   1738  ...   0.074      0.134       0.295   0.444
1  Baldwin  Alabama  1003.0   5165  ...   0.059      0.098       0.323   0.436
2  Barbour  Alabama  1005.0    857  ...   0.121      0.120       0.201   0.491
3     Bibb  Alabama  1007.0    642  ...   0.034      0.096       0.278   0.572
4   Blount  Alabama  1009.0   1594  ...   0.114      0.180       0.194   0.459

[5 rows x 14 columns]

In [9]:
cpop = pd.read_csv('/content/drive/My Drive/pyghack_data/PopulationEstimates.csv',
                   header=0,delimiter=',',nrows=5)

In [12]:
cpop.columns.to_list()

['FIPStxt',
 'State',
 'Area_Name',
 'Rural-urban_Continuum Code_2003',
 'Rural-urban_Continuum Code_2013',
 'Urban_Influence_Code_2003',
 'Urban_Influence_Code_2013',
 'Economic_typology_2015',
 'CENSUS_2010_POP',
 'ESTIMATES_BASE_2010',
 'POP_ESTIMATE_2010',
 'POP_ESTIMATE_2011',
 'POP_ESTIMATE_2012',
 'POP_ESTIMATE_2013',
 'POP_ESTIMATE_2014',
 'POP_ESTIMATE_2015',
 'POP_ESTIMATE_2016',
 'POP_ESTIMATE_2017',
 'POP_ESTIMATE_2018',
 'POP_ESTIMATE_2019',
 'N_POP_CHG_2010',
 'N_POP_CHG_2011',
 'N_POP_CHG_2012',
 'N_POP_CHG_2013',
 'N_POP_CHG_2014',
 'N_POP_CHG_2015',
 'N_POP_CHG_2016',
 'N_POP_CHG_2017',
 'N_POP_CHG_2018',
 'N_POP_CHG_2019',
 'Births_2010',
 'Births_2011',
 'Births_2012',
 'Births_2013',
 'Births_2014',
 'Births_2015',
 'Births_2016',
 'Births_2017',
 'Births_2018',
 'Births_2019',
 'Deaths_2010',
 'Deaths_2011',
 'Deaths_2012',
 'Deaths_2013',
 'Deaths_2014',
 'Deaths_2015',
 'Deaths_2016',
 'Deaths_2017',
 'Deaths_2018',
 'Deaths_2019',
 'NATURAL_INC_2010',
 'NATURAL_INC_2011',
 'NATURAL_INC_2012',
 'NATURAL_INC_2013',
 'NATURAL_INC_2014',
 'NATURAL_INC_2015',
 'NATURAL_INC_2016',
 'NATURAL_INC_2017',
 'NATURAL_INC_2018',
 'NATURAL_INC_2019',
 'INTERNATIONAL_MIG_2010',
 'INTERNATIONAL_MIG_2011',
 'INTERNATIONAL_MIG_2012',
 'INTERNATIONAL_MIG_2013',
 'INTERNATIONAL_MIG_2014',
 'INTERNATIONAL_MIG_2015',
 'INTERNATIONAL_MIG_2016',
 'INTERNATIONAL_MIG_2017',
 'INTERNATIONAL_MIG_2018',
 'INTERNATIONAL_MIG_2019',
 'DOMESTIC_MIG_2010',
 'DOMESTIC_MIG_2011',
 'DOMESTIC_MIG_2012',
 'DOMESTIC_MIG_2013',
 'DOMESTIC_MIG_2014',
 'DOMESTIC_MIG_2015',
 'DOMESTIC_MIG_2016',
 'DOMESTIC_MIG_2017',
 'DOMESTIC_MIG_2018',
 'DOMESTIC_MIG_2019',
 'NET_MIG_2010',
 'NET_MIG_2011',
 'NET_MIG_2012',
 'NET_MIG_2013',
 'NET_MIG_2014',
 'NET_MIG_2015',
 'NET_MIG_2016',
 'NET_MIG_2017',
 'NET_MIG_2018',
 'NET_MIG_2019',
 'RESIDUAL_2010',
 'RESIDUAL_2011',
 'RESIDUAL_2012',
 'RESIDUAL_2013',
 'RESIDUAL_2014',
 'RESIDUAL_2015',
 'RESIDUAL_2016',
 'RESIDUAL_2017',
 'RESIDUAL_2018',
 'RESIDUAL_2019',
 'GQ_ESTIMATES_BASE_2010',
 'GQ_ESTIMATES_2010',
 'GQ_ESTIMATES_2011',
 'GQ_ESTIMATES_2012',
 'GQ_ESTIMATES_2013',
 'GQ_ESTIMATES_2014',
 'GQ_ESTIMATES_2015',
 'GQ_ESTIMATES_2016',
 'GQ_ESTIMATES_2017',
 'GQ_ESTIMATES_2018',
 'GQ_ESTIMATES_2019',
 'R_birth_2011',
 'R_birth_2012',
 'R_birth_2013',
 'R_birth_2014',
 'R_birth_2015',
 'R_birth_2016',
 'R_birth_2017',
 'R_birth_2018',
 'R_birth_2019',
 'R_death_2011',
 'R_death_2012',
 'R_death_2013',
 'R_death_2014',
 'R_death_2015',
 'R_death_2016',
 'R_death_2017',
 'R_death_2018',
 'R_death_2019',
 'R_NATURAL_INC_2011',
 'R_NATURAL_INC_2012',
 'R_NATURAL_INC_2013',
 'R_NATURAL_INC_2014',
 'R_NATURAL_INC_2015',
 'R_NATURAL_INC_2016',
 'R_NATURAL_INC_2017',
 'R_NATURAL_INC_2018',
 'R_NATURAL_INC_2019',
 'R_INTERNATIONAL_MIG_2011',
 'R_INTERNATIONAL_MIG_2012',
 'R_INTERNATIONAL_MIG_2013',
 'R_INTERNATIONAL_MIG_2014',
 'R_INTERNATIONAL_MIG_2015',
 'R_INTERNATIONAL_MIG_2016',
 'R_INTERNATIONAL_MIG_2017',
 'R_INTERNATIONAL_MIG_2018',
 'R_INTERNATIONAL_MIG_2019',
 'R_DOMESTIC_MIG_2011',
 'R_DOMESTIC_MIG_2012',
 'R_DOMESTIC_MIG_2013',
 'R_DOMESTIC_MIG_2014',
 'R_DOMESTIC_MIG_2015',
 'R_DOMESTIC_MIG_2016',
 'R_DOMESTIC_MIG_2017',
 'R_DOMESTIC_MIG_2018',
 'R_DOMESTIC_MIG_2019',
 'R_NET_MIG_2011',
 'R_NET_MIG_2012',
 'R_NET_MIG_2013',
 'R_NET_MIG_2014',
 'R_NET_MIG_2015',
 'R_NET_MIG_2016',
 'R_NET_MIG_2017',
 'R_NET_MIG_2018',
 'R_NET_MIG_2019']

In [13]:
usecols= [i for i in cpop.columns.to_list() if '2019' in i]
usecols

['POP_ESTIMATE_2019',
 'N_POP_CHG_2019',
 'Births_2019',
 'Deaths_2019',
 'NATURAL_INC_2019',
 'INTERNATIONAL_MIG_2019',
 'DOMESTIC_MIG_2019',
 'NET_MIG_2019',
 'RESIDUAL_2019',
 'GQ_ESTIMATES_2019',
 'R_birth_2019',
 'R_death_2019',
 'R_NATURAL_INC_2019',
 'R_INTERNATIONAL_MIG_2019',
 'R_DOMESTIC_MIG_2019',
 'R_NET_MIG_2019']